@font-face {
  font-family: NotosansBold;
  src: url("../fonts/NotoSans-Bold.ttf") format("ttf"); }
@font-face {
  font-family: Notosans;
  src: url("../fonts/NotoSans-Regular.ttf") format("ttf"); }
@font-face {
  font-family: Cormorant;
  src: url("../fonts/Cormorant-Regular.ttf") format("ttf"); }
body {
  font-family: Notosans, Helvetica, tahoma, sans-serif; }

.snow-canvas {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none; }

h1.title {
  font-size: 40px;
  color: #683b1c;
  font-weight: 600; }

h3.title {
  font-size: 40px; }

h4.title {
  font-size: 30px; }

h5.title a {
  font-size: 18px;
  font-weight: 600;
  color: #683b1c; }

.btn-common {
  font-size: 13px;
  color: #683b1c;
  border: none;
  padding: 4px 23px;
  background: #8080801c; }

.img-fluid {
  width: 100%;
  object-fit: cover; }

a:hover {
  text-decoration: none; }

.p-40 {
  padding: 40px 0; }

p.content {
  font-size: 16px;
  color: #604f32; }

.wedding-widget {
  background: #e8bddb21;
  padding: 16px;
  margin-top: 20px;
  height: 100%;
  transition: 1s; }
  .wedding-widget:hover {
    box-shadow: 5px 10px 10px gray; }
    .wedding-widget:hover .img img {
      transform: scale(1.2); }
  .wedding-widget .img {
    max-height: 200px;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .wedding-widget .img {
        max-height: 280px; } }
    .wedding-widget .img img {
      width: 100%;
      object-fit: cover;
      transition: .8s; }
  .wedding-widget .title {
    padding: 7px 0; }
    .wedding-widget .title h5.title a:hover {
      color: #ec3d79; }
    .wedding-widget .title p.content {
      margin-bottom: 0; }
  .wedding-widget button {
    transition: .3s;
    border: 0.5px solid pink !important; }
    .wedding-widget button a {
      color: #683b1c; }
    .wedding-widget button:hover {
      background: #ec3d79; }
      .wedding-widget button:hover a {
        color: #fff; }

.unique-widget {
  margin-top: 20px; }
  .unique-widget .img {
    overflow: hidden;
    border-radius: 10px;
    height: 200px; }
    .unique-widget .img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .unique-widget h5.title {
    padding-top: 15px; }
    .unique-widget h5.title a {
      transition: 0.2s; }
      .unique-widget h5.title a:hover {
        color: #ec3d79; }

.header {
  padding-top: 40px;
  position: relative; }
  @media screen and (max-width: 768px) {
    .header {
      position: fixed;
      z-index: 999;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      background: #fff; } }
  .header .flex-mobile {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header .logo {
    width: 200px;
    height: auto; }
    @media screen and (max-width: 768px) {
      .header .logo {
        width: 200px;
        height: auto;
        flex: 1;
        text-align: center;
        justify-content: center; } }
    .header .logo img {
      width: 100%;
      object-fit: cover; }
      @media screen and (max-width: 768px) {
        .header .logo img {
          width: 30%; } }
  .header .search {
    position: absolute;
    top: 29%;
    right: 5%; }
    @media screen and (max-width: 768px) {
      .header .search {
        position: inherit;
        flex: 1;
        text-align: right;
        top: 1px;
        right: 18px; } }
    .header .search i {
      font-size: 25px;
      cursor: pointer;
      color: #5d5d5dbf; }
      .header .search i:hover {
        color: #2d312ed9; }
  .header .menu-mobile {
    display: none;
    position: relative;
    z-index: 3;
    top: 0;
    left: 20px; }
    @media screen and (max-width: 768px) {
      .header .menu-mobile {
        position: inherit;
        z-index: 3;
        flex: 1;
        top: 0;
        flex: 0 0 1 !important;
        left: 20px;
        text-align: left;
        display: block; } }
    .header .menu-mobile i#nav {
      cursor: pointer;
      font-size: 26px; }
    .header .menu-mobile ul {
      background: #efd6d6;
      width: 200px;
      height: 140%;
      display: block;
      height: 100%;
      top: 0;
      position: fixed;
      left: -250px;
      transition: .5s ease-out; }
      .header .menu-mobile ul li {
        padding: 9px 24px;
        display: flex;
        width: 193px;
        border-bottom: 1px solid gray;
        justify-content: space-between; }
        .header .menu-mobile ul li a {
          color: #683b1c; }
        .header .menu-mobile ul li i {
          color: #683b1c; }
      .header .menu-mobile ul i#delete {
        position: absolute;
        top: 9px;
        right: 9px;
        font-size: 25px;
        color: #683b1c; }

.active {
  left: 0 !important; }

@media screen and (max-width: 768px) {
  .main-menu {
    display: none; } }
.main-menu .nav {
  display: flex;
  justify-content: center; }
  .main-menu .nav ul {
    display: flex; }
    .main-menu .nav ul li {
      margin: 0 20px;
      padding: 30px 0;
      position: relative; }
      .main-menu .nav ul li a {
        font-size: 18px;
        color: #683b1c;
        transition: all 1s; }
        .main-menu .nav ul li a:hover {
          color: #212121; }
      .main-menu .nav ul li .sub-menu {
        position: absolute;
        top: 90px;
        width: 171px;
        box-shadow: 0px 4px 8px #e8dede;
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        z-index: 9;
        background: #fff; }
        .main-menu .nav ul li .sub-menu ul {
          display: flex;
          flex-flow: column;
          visibility: visible; }
          .main-menu .nav ul li .sub-menu ul li {
            padding: 10px;
            width: 100%;
            margin: 0;
            transition: 0.5s;
            border-bottom: 1px solid #ca8b6b61; }
            .main-menu .nav ul li .sub-menu ul li:hover {
              background: #ca8b6b61; }
            .main-menu .nav ul li .sub-menu ul li a {
              font-size: 16px; }
      .main-menu .nav ul li:hover .sub-menu {
        visibility: visible;
        opacity: 1; }

.slider {
  position: relative; }
  @media screen and (max-width: 768px) {
    .slider {
      position: relative;
      top: 70px; } }
  .slider .img {
    height: 383px;
    background-size: cover !important; }
    @media screen and (max-width: 980px) {
      .slider .img {
        padding-top: 70px; } }
    @media screen and (max-width: 425px) {
      .slider .img {
        padding-top: 30px;
        padding-bottom: 20px; } }
  .slider .snow-canvas {
    z-index: 2; }

.wedding-invitation h3.title {
  font-family: Cormorant;
  color: #683b1c;
  font-style: italic;
  font-weight: 500; }

.video {
  background: #f3f5f6; }
  .video h3.title {
    font-family: Cormorant;
    color: #683b1c;
    font-style: italic;
    font-weight: 500; }
    .video h3.title .img {
      height: 400px; }
  .video h4.title {
    padding-top: 20px;
    line-height: 1.7; }
    .video h4.title a {
      color: #683b1c;
      font-weight: 500; }
  .video .video-item {
    padding: 20px; }
    @media screen and (max-width: 768px) {
      .video .video-item {
        padding: 0; } }
    .video .video-item:hover .video-item-inner a:after {
      opacity: .5; }
    .video .video-item .video-item-inner {
      width: 100%;
      position: relative;
      display: inline-block;
      overflow: hidden; }
      @media screen and (max-width: 425px) {
        .video .video-item .video-item-inner img {
          height: 300px; } }
      .video .video-item .video-item-inner i {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
        color: #fff;
        text-align: center;
        font-size: 44px;
        line-height: 69px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-49%) translateY(-50%); }
      .video .video-item .video-item-inner a:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #fff;
        opacity: 0;
        transition: opacity .5s ease-out; }

.banner .banner-advertise {
  max-height: 355px;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px; }
  .banner .banner-advertise:hover {
    box-shadow: 0px 11px 15px grey; }
  .banner .banner-advertise img {
    width: 100%;
    object-fit: cover; }

.unique h3.title {
  font-family: Cormorant;
  color: #683b1c;
  font-style: italic;
  font-weight: 500; }
  .unique h3.title .img {
    height: 400px; }
.unique .unique-widget:hover .img {
  filter: grayscale(0);
  box-shadow: 0px 10px 10px gray; }
  .unique .unique-widget:hover .img img {
    transform: scale(1); }
.unique .unique-widget .img {
  overflow: hidden;
  filter: grayscale(100%);
  transition: .7s; }
  .unique .unique-widget .img img {
    transform: scale(1.2);
    transition: .5s ease-out; }

.detail .detail-product .img-product {
  height: auto;
  max-width: 100%;
  overflow: hidden; }
  .detail .detail-product .img-product img {
    width: 100%;
    object-fit: cover; }
.detail .detail-product .title-product {
  margin-top: 0; }
  @media screen and (max-width: 768px) {
    .detail .detail-product .title-product {
      margin-top: 20px; } }
  .detail .detail-product .title-product h1.title {
    font-size: 30px;
    color: #683b1c;
    font-weight: 600; }
  .detail .detail-product .title-product p {
    color: #604f32;
    font-size: 16px; }
.detail .detail-content {
  padding-top: 40px; }
  .detail .detail-content p {
    padding-bottom: 10px;
    margin-bottom: 0; }
  .detail .detail-content img {
    width: 100%;
    object-fit: cover;
    padding: 10px 0; }
  .detail .detail-content h3 {
    color: #683b1c; }
  .detail .detail-content .content-relate {
    padding: 18px; }

.shop h3.title {
  font-family: Cormorant;
  font-style: italic; }
.shop .category {
  display: flex;
  flex-wrap: wrap; }
  .shop .category .widget {
    flex: 0 0 25%;
    margin-top: 15px;
    text-align: center;
    background: #e8e8e8;
    border: 0.1px solid #c3c3c3; }
    .shop .category .widget:hover {
      background: #c10000; }
      .shop .category .widget:hover h5 a {
        color: #fff; }
    .shop .category .widget h5 {
      padding: 10px 20px 0px 20px;
      font-size: 20px; }
      .shop .category .widget h5 a {
        color: #683b1c; }
  .shop .category .active {
    background: #c10000; }
    .shop .category .active h5 a {
      color: #fff; }

.product {
  background: #f7f7f7; }
  .product .wedding-widget {
    margin-top: 20px; }

.footer {
  background: #fddccc70;
  border-top: 17px solid #683b1c; }
  .footer .logo-foot {
    text-align: left; }
    .footer .logo-foot img {
      width: 50%; }
  .footer ul {
    padding-top: 23px; }
    .footer ul li {
      font-size: 18px;
      padding: 9px 0; }
      .footer ul li a {
        font-size: 18px;
        color: #683b1c; }
  .footer ul.footer_box h4 {
    font-size: 25px;
    color: #c10000;
    font-weight: 600; }
  .footer ul.footer_box li a:hover {
    color: #212121; }
  .footer ul.footer_box .icon {
    padding-top: 20px; }
    .footer ul.footer_box .icon i {
      font-size: 25px;
      padding-right: 18px;
      width: 40px; }
    .footer ul.footer_box .icon a.widget {
      display: flex; }

.modal-dialog {
  max-width: 800px;
  margin: 30px auto; }

.has-search .form-control {
  padding-left: 2.375rem; }

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa; }

.form-group.has-search {
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 15%;
  display: none; }

.tab-menu > a {
  display: block; }

.mobile-sub-menu > a {
  display: block;
  padding-left: 15px; }

.search-input {
  top: -10px;
  right: 40px; }

/*# sourceMappingURL=page.css.map */
